<div style="position: absolute; top: 0px; height: 100%; background: rgba(0, 0, 0, 0.5); display: table-cell; vertical-align: middle; z-index: 30000">
  <% if notification.gnib %>
    <% render notification.gnib %>
  <% end %>
</div>
<div align="center"
     id="gnib-thumbnail"
     class="gnib-thumbnail"
     style="position: absolute; top: 0px; height: 100%; background: rgba(0, 0, 0, 0.8); display: table-cell; vertical-align: middle; z-index: 30000">
  <table>
    <tbody>
      <tr>
        <td id="gnib-notification-overlay" class="gnib-thumbnail">
          <div><%= notification.message %></div>
          <span style="margin-top: 20px">Click Anywhere to open</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
