<div style="float: left; margin-left: 50px" class="on-dent">
  notifications
</div>
<% if notifications_count && notifications_count > 0 %>
  <div class="gn-notifications">(<%=  notifications_count%>)</div>
<% end %>
