<style type="text/css">
  #profile-image .gnibl-button {
    background: url(<%=image_path(@user.avatar_url)%>);
    background-size: 100% 100%;
  }
</style>
<%= render "/users/header" %>
<div style="width:100%; margin-top: 10px; background: rgba(0, 0, 0, 0.5);">
  <%= render "/users/gnib_header" %>
  <%= render @users%>
</div>
