<%= form_for(@user.gniblings.build(:gnib_id => gnib.id)) do |f| %>
  <div> <%= f.hidden_field :gnib_id  %> </div>
  <%= f.submit "",:title => "gnib", :class => "gnib-gnib-button", :id => "gnib.id" %>
<% end %>

