<% count = 0 %>
<% if @is_error %>
  <div style="color: red; background: cyan; width: 100%; height: 100%">
    Sorry, an error has occurred
    <br/>
    <%= @error_msg %>
  </div>
<%else%>
  <div id="content_url_images_panel" class="carousel slide">
    <div id="content_url_images_inner_panel" class="carousel-inner">
      <% @image_sources.each do |source| %>
        <img id="content_url_image<%= count %>"
             src = "data:image/png;base64,<%=source%>"
             class="content-url-image"
             style="cursor: pointer; margin-bottom: 5px; height: auto"
             width="100%" data-image-url="<%=@urls[count]%>"/>
             <% count = count +1 %>
           <% end%>
    </div>
    <a class="carousel-control left" href="#content_url_images_panel" data-slide="prev" >‹</a>
    <a class="carousel-control right" href="#content_url_images_panel" data-slide="next">›</a>
  </div>
  <script type="text/javascript">
    $('.content-url-image').height((gnib_thumnail_height - 5) / 2);
    $('#gnib_main_panel').carousel();
  </script>
<% end %>
